body {
    background-color: #111;
    color: #eee;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.column {
    flex: 1;
    padding: 20px;
}

select, label {
    margin-bottom: 10px;
    color: #eee;
    background-color: #333;
    border: none;
    padding: 5px;
}

h2 {
    color: #ccc;
}